.basicWrapper{
    width: 1000px;
    margin: 0 auto;
    text-align: left;

}

.headerBasic{
    margin: 20px;
    font-weight: bold;
}
.basicForm{
    background-color: rgba(179,196,225,0.42);
    padding: 10px 30px;
}
p{
   margin: 10px 0 !important;
}
.inputText{
    border: 1px solid #cbcbcb;
    width: 70%;
}
.inputText:focus{
    outline: 1px solid rgba(69,133,194,0.86);
    border-radius: 0;
}
.preview{

height: 400px;
}
.uploader{
    border: 1px dashed #cbcbcb;
    width: 70%;

}
.select{
    width: 70%;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 0;
    border: 1px solid #cbcbcb;
    font-weight: lighter;
    height: 30px;
}
.select:focus{
    outline: 1px solid rgba(69,133,194,0.86);
    border-radius: 0;
}
option{
    margin-top: 100px !important;
    width: 1000px !important;
}




