.myProjectWrapper{
    margin: 40px 1% 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px 20px 20px;
    background-color: rgba(179,196,225,0.42);
    height: 100%;
}
.buttonNewProject{
    margin-top: 10px;
    position: absolute;
    top: 100px;
    border: 0;
    border-radius: 3px;
    width: 180px;
    background-color: rgba(96, 113, 178, 0.75);
    height: 40px;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.myProject{
    width: 100%;


}
.projectItemWrapper{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
    height: 200px;
    display: flex;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 20%);
}
.imgUserProjectWrapper{
    width: 40%;
    border: 1px solid #cbcbcb;
    height: 100%;
}
@media screen and (min-width: 550px) {
    .myProjectWrapper{
        margin: 40px 4% 0 4%;
    }
    .myProject{
        width: 70%;
        margin-left: 200px;
    }
    .projectItemWrapper{
        width: 100%;
    }
    .buttonNewProject{
position: inherit;
    }
}

