.createProjectWrapper{

}
.menuPC{
    padding: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(96, 113, 178, 0.75);
    box-shadow: 0 15px 20px 0 rgb(0 0 0 / 20%) inset;
    margin-top: 40px;

}
.menuItem{
    height: 40px;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;

}
.menuItem:focus{
    background-color: rgba(80,93,145,0.89);

}
.menuItem:hover{
    color: white;
}

@media screen and (min-width: 550px) {
    .menuItem {
        font-size: 18px;
        padding: 8px 20px;
    }

    .menuPC {
        margin-top: 0;
        padding: 0 15%;
    }
}