.allPrjContent{
    padding-top: 30px;
    display: flex;
}
.navCategories {
    border-right: 1px solid rgba(204,202,239,0.75);
    width: 150px;
    height: 800px;
    font-size: 14px;
    padding: 0 10px;
    text-align: left;
}
@media screen and (min-width: 450px) {
    .navCategories {
        border-right: 1px solid rgba(204,202,239,0.75);
        width: 400px;
        height: 800px;
        font-size: 20px;
        padding: 0 60px;
        text-align: left;
    }
}
.navCategories a{
    font-size: 18px;
    font-weight: 600;
    color: #4183c4;
}
@media screen and (min-width: 450px) {
    .navCategories a{
        font-size: 22px;
        font-weight: 600;
        color: #4183c4;
    }
}
.allProjectsArea{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
}


